* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container {
    max-width: 900px;
    margin: 0 auto;

}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: #ccc;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(233, 67, 67, 0.5);
}

.title_small {
    font-size: 20px;
}

.form_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 6px 10px;
    border: 1px solid brown;
    border-radius: 6px;
    font-size: 15px;
}

input:focus {
    outline-color: red;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

button {
    background-color: rgb(182, 144, 48);
    border: transparent solid 2px;
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: green;
    border: 2px solid yellow;
    color: white;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea_control {
    grid-column: 1 / span 2;
}

.textarea_control textarea {
    width: 100%;
}

@media (max-width: 460px) {
    .textarea_control {
        grid-column: 1 / span 1;
    }
}